
:root{
    --main-panel-color:  #6973a1;
    --main-panel-section-color: white;
    --main-text-color: #2b1414;
    --subsection-text-color: rgb(255, 255, 255);
    --interactable-color: #ffffff;


    --main-bg-color:  #6973a1;
    --main-hover-color: #ffffff;
    --main-border-color: #00000000;
    --main-active-color: #f4f4f4;
    --main-border-radius: 14px;
    --main-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --main-transition: all 0.3s ease;
    --padding: 5px;
    --document-width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-image:linear-gradient(180deg, hsl(0, 0%, 85%), hsl(240, 16%, 22%));
    width: 100%;
    height: 100%;
    color: var(--main-text-color);
}

.hidden {
    display: none !important;
}
.stor-karta {   
    grid-row: 1 / 4 !important;
    grid-column: 1 / 4 !important;
    height: 100% !important;
}
.map-point-style {
    min-width: 50px;
    min-height: 50px;
    
    border: 1px solid black;
    cursor: pointer;
}

.search-style {
 
    background-color: var(--interactable-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
    padding: var(--padding);
    height: 30px;

}

.search-style:hover {
    background-color: var(--main-hover-color);
}
.search-style:focus-visible {
    outline: none;
    border: 1px solid rgb(206, 206, 206);
}

.icon-style {
    width: 18px;
    height: 18px;
}
.button-style {
    background-color: var(--interactable-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-border-color);
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
    padding: var(--padding);
    height: fit-content;
    width: fit-content;
} 
.button-style:has(.icon-style) {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.button-style:hover {
    background-color: var(--main-hover-color);
}

.button-style:active {
    background-color: var(--main-active-color);
}
.map-style {
    width: 100%;
    height: calc(50vh - 80px);
    border: 1px solid var(--main-border-color);
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
    
}
.map-style img {
    object-fit: stretch;
    border-radius: var(--main-border-radius);
    margin: 0;
    padding: 0;
}
.title-style {
    
    font-size: 20px;
    font-weight: bold;

    font-family: Arial, sans-serif;
    text-align: center;
    height: fit-content;
    color: white;
}
#inspect-panel > .title-style {
    z-index: 10;
    background-image: linear-gradient(180deg, #6973a1, #3e4a80);
    width: fit-content;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 7px;
}


.image-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);

    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    aspect-ratio: 1/1;
    transition: var(--main-transition);
}
.image-style:hover {
    transform: scale(1.1);
}
.panel-style {
    padding: 10px;
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
    background-image: linear-gradient(35deg, #6b7397, hsl(0, 0%, 100%));

}
.inspect-image-style {
    margin: auto;
    width: auto;
    max-width: 100%;
    max-height: 40vh;
    object-fit: cover;
    border-radius: var(--main-border-radius);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}
.tag-style {
    background-image: linear-gradient(180deg, #6973a1, #3e4a80);
    color:  var(--subsection-text-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
    padding: var(--padding);
    height: fit-content;
    width: fit-content;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));

}
.tag-style:hover {
    cursor: pointer;
}
.text-style {
    color: var(--subsection-text-color);

    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: justify;
    padding: 25px;
    border-radius: var(--main-border-radius);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.089);
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    margin-top: 30px;
}
#inspect-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    color: var(--subsection-text-color);
    overflow: scroll;
    scroll-behavior: smooth;
    height: min-content;
    max-height: 80px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--main-border-radius);
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.089);

}
header {
    grid-area: header;
    border-bottom: 1px solid var(--main-border-color);
    padding: 10px;
}

#image-container {
    grid-column: 2 /3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: var(--document-width);
    height: min-content;
    padding: 20px;
    border: 1px solid var(--main-border-color);
    background-image: linear-gradient(130deg, #ffffff, #3e4a80);
}

header {
    background-image: linear-gradient(180deg, #6973a1, #3e4a80);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: auto;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px;
    scale: 1.2;
}
#map {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}

#inspect-panel {
    /* span row 2*/
    grid-row: 1 / 3;

    grid-column: 1 / 1;


    width: 100%;
    height: 100%;
   
    padding: 30px;
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
    overflow: hidden;
}
#inspect-panel > .text-style {

    overflow: scroll;
    scroll-behavior: smooth;;
}
#main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    height: 80vh;
    width: 90vw;
    gap: 17px;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;

}


/*full screen*/
@media (min-width: 769px) {
    
}

/*half of the screen*/
@media (max-width: 768px) {
    :root {
        --document-width: 60vw;
        
    }
    #main-content {
        position: absolute;
        right: 10px;
        width: calc(75vw - 10px);
        height:fit-content;
    }
 
  
  
}
